.navbar-default{
	background: rgba(white, 0);
	.navbar-brand{
		color: white;
	}
	.navbar-nav{
		li{
			a{
				color: white;
				&:hover{
					color: $color_2;
				}
			}
		}
		.active{
			a{
				color: #168C52;
  				background-color: #8FE0B9;
			}
		}
	}
}

.navbar-shrink{
	background: $color_1;
	box-shadow: 0 1px 12px -2px rgba(0, 0, 0, 0.27);
}