$color_1: #51B584; // verde
$color_2: #015366; // azul
$color_3: #C1C1C1; // gris
$color_4: #9E1E29; // rojo
$color_5: #F49C5F; // naranja
$color_6: #F5CA86; // amarillo

.relative{
	position: relative;
}